<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xr.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme,android:label">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!-- android:screenOrientation="portrait"/>强制竖屏 -->

            <intent-filter>
                <action android:name="com.xr.activity.TestActivity" />

                <data android:scheme="xr" />
                <data android:mimeType="aa/bb" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonResult.Main2Activity" />
        <activity android:name=".PersonResult.ResultActivity" />
        <activity android:name=".Sms.SMSActivity" />
        <activity android:name=".Sms.Main3Activity" />
        <activity android:name=".Sms.ContactActivity" />
        <activity android:name=".Sms.SmsTemplateActivity" />

        <receiver android:name=".receiver.ip.OutGoingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <!-- <action android:name="android.intent.action.MEDIA_MOUNTED"/> -->
            </intent-filter>
        </receiver>

        <activity android:name=".receiver.ip.Main4Activity" />

        <receiver android:name=".receiver.ip.ShcardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ip.AppStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.sendbroadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".receiver.sendbroadcast.Main5Activity" />

        <!-- <receiver -->
        <!-- android:name=".receiver.sendbroadcast.BroadCastReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.xr.custombroadcast" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".receiver.sendbroadcast.OrderedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="com.xr.OrderedBroadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.sendbroadcast.UpOrderedBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.xr.OrderedBroadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.sendbroadcast.FinalReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Dialog.DialogActivity" />
        <activity android:name=".Frame.FrameanimActivity" />
        <activity android:name=".Service.ServiceActivity" />

        <service
            android:name=".Service.FirstService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ListenerPhoneActivity" />

        <service
            android:name=".Service.PhoneService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".receiver.Registerbroadcast.RegisterbroadcastActivity" />

        <receiver
            android:name=".receiver.Registerbroadcast.ScreenReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Service.ScreenService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BaiduMusicActivity" />

        <service
            android:name=".Service.MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.RemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xr.activity.RemoteService" />
            </intent-filter>
        </service>

        <activity android:name=".DBActivity" />

        <provider
            android:name=".DB.AccountContentProvider"
            android:authorities="com.xr.AccountContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".SmsBackupActivity" />
        <activity android:name=".ObserverActivity" />
        <activity android:name=".BigPicActivity" />
        <activity android:name=".ClothesActivity" />
        <activity android:name=".MediaPlayActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".VideoViewActivity" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".WX.WxActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Anim.TweenAnimActivity"></activity>
        <activity android:name=".Notification.NotificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>